<script src="../socket.io/socket.io.js"></script>
<script>
	// var socket = io();
	var name = prompt("Hey!, what is your name?");
	var server = io.connect('http://localhost:8080');
	server.on('messages', function(data) {
		alert(data.hi.replace("world",name));
	});
</script>