<h1><%= username %> likes the following videos</h1>

<ul>
	<% likes.forEach( function(item) { %>
		<li><div><a href="<%= item.url%>"><img src="<%= item.thumbnail_medium%>"><%= item.title %></a></div></li>
	<%	}) %>
</ul>